@use '../../../styles/variables' as v;

.currencies {
  flex-grow: 1;
  padding-top: v.$gutter;
  overflow: auto;

  &-title,
  .currency {
    border-bottom: 1px solid v.$color-alt;
    height: v.$list-item-height;
    line-height: v.$list-item-height;
    padding: 0 v.$gutter;
  }

  &-title {
    font-size: 1.6rem;
    font-weight: 700;
  }

  &-list {
    height: calc(100% - v.$list-item-height - v.$gutter);
    list-style: none;
    padding: 0;
  }
}

.currency {
  background-color: v.$color-light;
  cursor: pointer;
  font-weight: 500;
  transition: background-color v.$delay-slow linear;

  &:hover {
    // .currency:hover
    background-color: v.$color-alt;
    transition: background-color v.$delay-fast linear;
  }
}
