@use '../../../styles/variables' as v;

.footer {
  color: v.$color-primary;
  background-color: v.$color;
  margin: 0 auto;
  padding: 1rem 0;
  text-align: center;

  &__title {
    font-size: 2.4rem;
    font-weight: 700;
    margin: 0;
  }

  &__subtitle {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0;
  }
}
