@use 'sass:color';

$color-primary: #bb5432;
$color-alt: color.scale($color-primary, $lightness: 70%);
$color-light: #fff;

$font-sans: 'League Spartan', Helvetica, Arial, sans-serif;

$delay-fast: 0.2s;
$delay-slow: 1s;
