@use 'reset';
@use 'variables' as v;

html {
  font-size: 62.5%; // 10px pour 1rem par défaut
}

body {
  font-size: 1.6rem;
  font-family: v.$font-sans;
}

#root {
  align-items: center;
  background: v.$color-alt;
  color: v.$color-light;
  display: flex;
  font-family: v.$font-sans;
  font-weight: 300;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
}
