@use '../../../styles/variables' as v;

.header {
  background: v.$color;
  color: v.$color-light;
  padding: v.$gutter * 1.5;
  text-align: center;
  position: relative;

  /*
    & va être remplacé par le texte du sélecteur parent
  */

  &-title {
    // & = .header → &-title = .header-title
    display: block;
    font-size: 3.2rem;
    font-weight: 700;

    &:hover {
      // & = .header-title → &:hover = .header-title:hover
      color: v.$color-alt;
    }
  }

  &-amount {
    // & = .header → &-amount = .header-amount
    font-size: 2.1rem;

    &__input {
      background: transparent;
      border: 0;
      border-bottom: 1px solid v.$color-light;
      color: v.$color-light;
      display: inline-block;
      margin-right: 1.6rem;
      width: 4.8rem;

      &:focus {
        outline: none;
      }
    }
  }
}
